<!DOCTYPE html>
<html>
<head>
    <title>Random Images</title>
    <style>
        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div>${image1}</div>
    <div>${image2}</div>
    <img src=${image1} alt="Random Image 1">
    <img src=${image2} alt="Random Image 2">
</body>
</html>
